
nav{background:#3F301D;
    text-align: center;
   
    
}
p{
    font-size:32px;
    font-family: 'Century Gothic';
    color:#3F301D;
    width: 75%;
   
}
nav a{
    color:#EFDECD;
    padding: 20px;
    font-size: 32px;
    text-decoration: none;
   
}

ol{
    font-size:24px;
    font-family: 'Century Gothic';
    color:#3F301D;
    width: 80%;
   
}

h1{
    font-size:64px;
    font-family:'Century Gothic';
    color:#3F301D;
    
}

h2{
    font-size:54px;
    font-family:'Century Gothic';
    color:#3F301D;
  
}

h2{
    padding:1%;
}

img src{margin-left: 50px;
    
}

body {
    background-color: #EFDECD;
  }

  .moves{
    margin-left: 20%;
  }
  